sphinx
sphinx-rtd-theme
setuptools
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-kroki
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
